@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import "./estilos/sitemap";


$fontBruno: 'Bruno Ace SC', cursive;
$color_1: rgb(255, 255, 255,0.5);
$color_2: black;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    background-image: url(./img/tiles-shapes-2617112_1920.jpg); 
}

header {
    text-align: center;
    background-color: $color_1;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color_2;
	font-family: $fontBruno;
    border: solid $color_2 5px;
    border-radius: 5px;
}

.contenedor {
	display: flex;
    text-decoration: none;
}

.columna {
	flex: 1;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.disenoindustrial {
	background-image: linear-gradient(to right,$color_2, rgb(50, 91, 179,0.7), $color_2);
    text-decoration: none;
    // efecto esquina de pagina plegada donde esta?
    //&:hover {
        //transform: skew(-15deg);
    //}*

    a {
        text-decoration: none;
        color: inherit;
		font-family: $fontBruno;

        &:hover {
            color: $color_1;
            border: $color_1 solid 2px;
            border-radius: 10px;
            padding: 5px;
            transition: 0.5s;
        }
    }
}

.fotografia {
	background-image: linear-gradient(to left,$color_2,rgb(0, 118, 0, 0.7), $color_2);
	color: $color_1;

    a {
        text-decoration: none;
        color: inherit;
		font-family: $fontBruno;

        &:hover {
            color: $color_2;
            border: $color_2 solid 2px;
            border-radius: 10px;
            padding: 5px;
            transition: 0.5s;
        }
    }
}

a .columna{
    text-decoration: none;
    color: inherit;
}

/* Estilo para el contenedor del icono de sitemap*/
.sitemap {
    position: fixed;
    bottom: 20px;
    right: 20px;
    i {
    font-size: 24px;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 50%;
    }
}
