.foto1 {
	background-image: url(./fotos/GOPR0582.JPG);
}
.foto2 {
	background-image: url(./fotos/GOPR0658.JPG);
}
.foto3 {
	background-image: url(./fotos/GOPR0717.JPG);
}
.foto4 {
	background-image: url(./fotos/GOPR7237.JPG);
}
.foto5 {
	background-image: url(./fotos/GOPR7239.JPG);
}
.foto6 {
	background-image: url(./fotos/GOPR7243.JPG);
}
.foto7 {
	background-image: url(./fotos/GOPR7275.JPG);
}
.foto8 {
	background-image: url(./fotos/GOPR7319.JPG);
}
.foto9 {
	background-image: url(./fotos/GOPR0517.JPG);
}